# Diseño y construcción de una bases de datos

## Esquema E/R

El Modelaje entidad-relación es una técnica para definir necesidades de información en la organización.


En términos sencillos, el modelaje entidad-relación involucra la identificación de cosas importantes en la organización (entidades), las propiedades de estas cosas (atributos) y como estas cosas están relacionadas entre sí (relaciones).

Un modelo de este tipo se construye con base en un conjunto de técnicas gráficas, que pretenden describir en términos de datos los requerimientos de una organización, siendo el soporte para brindar información de tipo operativo, táctico y gerencial a las personas que la necesitan.

## Entidades e instancias

El propósito de una base de datos que forma parte de un sistema de información es almacenar información acerca de ciertos tipos de objetos. En el lenguaje de las bases de datos estos objetos son llamados instancias.

Así, una entidad es una cosa u objeto de significancia, ya sea real o imaginaria, acerca de la cual se necesita tener información. El ejemplo de inicio, contiene entidades como ciudades, departamentos, instituciones.

Es importante hacer la diferencia entre las entidades que están contenidas en una base de datos en un momento dado(instancias) y el mundo de todas las posibles entidades que la base puede contener.

La importancia radica en que el contenido de la base de datos cambia continuamente, y las decisiones no pueden tomarse sobre la información actual, sino que se debe pensar sobre el contenido de la base de datos en el futuro.
Por ejemplo la base datos del ejemplo puede 2450 entidades de tipo ciudad. Sin embargo en el futuro se puede tener algunas otras mas y pueden eliminarse otras.

Una entidad es el conjunto de todas las posibles instancias que una base de datos puede contener.

En el ejemplo, el conjunto de todas las posibles ciudades es la clase entidad CIUDAD.

En la implementación se suguiere agregar el prefijo tbl como una convención de nombrado de objetos. Otras clases entidad del ejemplo son: Departamento, Institución, Editorial, Idioma, etc.

## Representación gráfica de entidades

Una entidad se representa gráficamente mediante una caja de tipo Softbox (Un rectángulo con las esquinas redondeadas), rotulada con el nombre de la clase entidad correspondiente.

El nombre de la entidad se escribe en singular y en mayúsculas en el centro de la parte superior de la caja.

El tamaño de la caja no tiene un estándar definido, sin embargo debe ser el suficiente de tal manera que permita la localización de un nombre no ambiguo (en lo posible sin abreviaciones).

El nombre para una entidad debe ser una representación de un tipo o clase de cosa, no de una instancia (ocurrencia) o entidad particular. La siguientes figuras muestran la forma correcta de representar una entidad y una una forma incorrecta respectivamente.

![fig](CiudadDep.jpg)

La anterior figura representa las  entidades correctas

![Ejemploincorrecto](CiudadAtlantico.png)

La anterior figura no representa entidades

### Algunas características generales de las entidades y de las clases de entidades

- Cualquier tipo de cosa u objeto puede solamente ser representado por una clase entidad, es decir las clases de entidades son mutuamente exclusivas en todos los casos.
- Cada entidad debe ser identificable de manera única, es decir que cada instancia (ocurrencia) de la clase entidad deber ser separada y distinta de todas las otras instancias de la entidad.
- Además de la representación en detalle de los requerimientos de información cada para cada clase entidad se requiere disponer de : 
    + Nombre
    + Sinónimos (Otras forma o manera de denominación)
    + Volúmenes estimados
    + Descripción
    + Notas, Comentarios y las Observaciones 
- Cada clase entidad tiene asociados
    + Atributos (Al menos dos)
    + Relaciones (Al menos una)
    + identificador único (Al menos uno)
    + Funciones del negocio involucradas con la Entidad (Al menos una)

###  Taxonomía de las entidades

Las clases de entidades más típicas pueden clasificarse en

- **Sujetos.** Personas y organizaciones que originan transacciones registradas en el sistema. 
Ejemplos: Cliente, Proveedor, Empleado, Tercero, Estudiante, Dependencia.
- **Objetos.** Entes tangibles, cuentas para los cuales se mantienen saldos afectados por las transacciones. Ejemplos: Artículo, Cuenta Contable.
- **Eventos.** Transacciones (originadas por sujetos y que afectan objetos) generalmente registradas en documentos. Ejemplos: Novedades, Ajustes, Consignaciones.
- **Lugares.** Ubicación de sujetos y objetos. Ejemplos: ciudad, región, edificio.
- **Abstracciones.** Conceptos empleados para clasificar o medir otras entidades. Ejemplos: Tipo de Novedad, Unidad de Medida, Nivel de Cargo.

Las abstracciones son un tipo particularmente importante de entidad, ya que dan origen a clasificaciones de las entidades.

## Relaciones y conjuntos de relaciones

Una relación binaria es una asociación entre dos entidades, que representa un vinculo de información entre dos fuentes dentro de la organización.
En la teoría general de bases de datos las relaciones pueden ser n-arias, en el modelo entidad–relación.
En lo que sigue siempre se consideran relaciones binarias.

Una relación es binaria en el sentido de que siempre es una asociación exactamente entre dos instancias de distinto tipo, o entre dos instancias del mismo tipo. Por ejemplo, entre las entidades Medellín (de la entidad CIUDAD) y Antioquia (de la entidad DEPARTAMENTO) existe la relación binaria descrita por “Medellín está ubicada en Antioquia”.Nótese que varias entidades de tipo Ciudad están relacionadas con la entidad Antioquia exactamente en el mismo sentido.
Esta relación se representa en forma abstracta como se indica a continuación

![SGBD](CiudadDeptR.jpg)

Figura 5. Representación de una relación binaria entre instancias de entidades CIUDAD- DEPARTAMENTO.

### Representación gráfica de relaciones entre entidades

Las relaciones entre entidades se representan como líneas que conectan las cajas que representan a las entidades participantes en la asociación. Dentro de la representación se distinguen básicamente dos extremos, en razón del vinculo binario. Cada extremo se conecta a la caja de la entidad correspondiente. La Figura próxima presenta un ejemplo de representación de un relación binaria entre dos entidades de distinta clase.

Como se explica un poco mas adelante, el gráfico representa una relación en donde una instancia de la entidad $A$ se relaciona con a lo mas una instancia de la  entidad $B$ y a su vez una instancias de la entidad $B$ puede estar relacionada con muchas instancias de de la entidad $A$.

![Imag3](Selection006.jpg)

Figura 6. Representación gráfica de una relación binaria entre entidades de distinto tipo

## Tipos de relaciones. Cardinalidad de asignación en las relaciones

La cardinalidad de asignación en la relaciones expresa el número de entidades con las que puede asociarse (vincularse o relacionarse) otra entidad en un conjunto de entidades. La cardinalidad o grado de asignación puede ser:


1. **Una a una**. El tipo de relación es uno a uno (1:1).
2.**Una a muchas**. El tipo de relación es uno a muchos (1:N)
3. **Muchas a muchas**. El tipo de relación es muchos a muchos (N:M).

A continuacion de muestran algunos diagramas representativos  de las relaciones Una a una, una a muchas, muchas a muchas.

#### Relaciones uno a uno (1:1)

Una instancia de la entidad 𝐴 se relaciona a lo mas con una y sólo una instancia de la clase entidad 𝐵 y viceversa, es decir, una instancia de la entidad 𝐵 se relaciona a lo mas con una y sólo una instancia de la entidad 𝐵.

![UNOa](unouno.jpg)

Figura 7. Representación gráfica de una relación binaria de tipo 1:1.

Esta es una forma de relación poco común, debido a que por lo general se trata de una separación de los atributos de una misma entidad.

Sim embargo se puede dar un ejemplo de una relación de tipo 1 a 1 es considerar la entidad PERSONA y la entidad PLANTA. de una institución oficial. Cada cargo en la planta es ocupado por una y solo una persona. Por facilidad de manipulación de la base datos pueden ser mas conveniente mantener separadas las instancias de la entidad PLANTA de las instancias de la entidad PERSONA.

![PlantaPersona](PlantaPersona.jpg)

Figura 8. Representación gráfica de una relación Planta-Persona

### Relaciones mucho a uno (1:N)

Una instancia en la entidad 𝐴 se relaciona a los más una instancia de de la entidad 𝐵. Una instancia en la entidad 𝐵 puede estar asociada con un número cualquiera de instancias de la entidad 𝐴.

![1N](1N.jpg)

Figura 9. Representación gráfica de una relación 1:N entre instancias

A continuación se muestra la representación abstracta en un modelo entidad-relación de un relación una a muchas entre instancias de la entidad 𝐵 (extremo uno de la relación) e instancias de la entidad 𝐴 (extremo muchos de la relación).

![Muchasuno](1Nb.jpg)

### Relaciones muchos a muchos (M:N)

Una instancia en 𝐴 está asociada con un número cualquiera de instancias en 𝐵, y una instancia en 𝐵 está asociada con un número cualquiera de instancias en 𝐴.

![MNa](MNa.jpg)

Figura 13. Relación muchos a muchos entre instancias

A continuación se muestra como representar gráficamente una relación muchos a muchos en un diagrama entidad – relación

![Mnb](MNb.jpg)

A continuación se muestra un ejemplo de relación (N:M).

- Un libro es escrito por uno o mas autores
- Un autor es el autor de uno o más libros.

![MNbejemplo](MNejemplo.png)

A continuación se muestra un ejemplo de diagrama E/R para la base de datos [sakila](https://dev.mysql.com/doc/index-other.html) hecha en Workbench

![DiagramaEjemplo](DiagramDef2.png)

### Descripción de un procedimiento almacenado, una función y un trigger.

# Proceso de almacenamiento

# Crear procedimientos Almacenados en MySQL (MariaDB)

Un procedimiento es un conjunto de instrucciones que se almacenan en el servidor, para usarlas posteriormente, ya que se usarán frecuentemente y contienen acciones programadas, el uso de los procedimiento simplificará el uso de esas instrucciones, ya que no tendremos que volver a teclear todas las instrucciones, sino solamente invocaremos al procedimiento, la instrucción PROCEDURE, hace referencia al procedimiento almacenado, un procedimiento almacenado (SP) (Stored Procedure) acepta parámetros de entrada, para darle más dinamismo, pero para entenderlo mejor, como siempre nos pondremos manos a la obra y haremos lo que nos gusta, que es hacerlo.
Primero veamos algunas ventajas de utilizar los procedimientos almacenados


Ventajas del uso de los procedimientos almacenados

- Seguridad: Los procedimientos ocultan el nombre de las tablas, de manera que nadie podrá saber que tablas se mandan llamar.
- Velocidad: Los procedimientos almacenados son más veloces, que ejecutar una a una las instrucciones, ya que están parametrizados.
- Estándares de programación: El uso de procedimientos almacenados es un estandard de la programación y su uso es recomendable

### Funciones en MySQL (MariaDB)

Así como existen los procedimientos, también existen las funciones. Para crear una función, MariaDB nos ofrece la directiva CREATE FUNCTION.

La diferencia entre una función y un procedimiento es que la función devuelve valores. Estos valores pueden ser utilizados como argumentos para instrucciones SQL, tal como lo hacemos normalmente con otras funciones como son, por ejemplo, MAX() o COUNT().

Utilizar la cláusula RETURNS es obligatorio al momento de definir una función y sirve para especificar el tipo de dato que será devuelto (sólo el tipo de dato, no el dato).

Su sintaxis es:

CREATE FUNCTION nombre (parámetro)
RETURNS tipo
[características] definición

### Triggers en MySQL (MariaDB)

Un trigger, también conocido como disparador (Por su traducción al español) es un conjunto de sentencias SQL las cuales se ejecutan de forma automática cuando ocurre algún evento que modifique a una tabla. Pero no me refierón a una modificación de estructura, no, me refiero a una modificación en cuando a los datos almacenados, es decir, cuando se ejecute una sentencia INSERT, UPDATE o DELETE.

    A diferencia de una función o un store procedure, un trigger no puede existir sin una tabla asociada.

Lo interesante aquí es que podemos programar los triggers de tal manera que se ejecuten antes o después, de dichas sentencias; Dando como resultado seis combinaciones de eventos.

- BEFORE INSERT Acciones a realizar antes de insertar uno más o registros en una tabla.

- AFTER INSERT Acciones a realizar después de insertar uno más o registros en una tabla.

- BEFORE UPDATE Acciones a realizar antes de actualizar uno más o registros en una tabla.

- AFTER UPDATE Acciones a realizar después de actualizar uno más o registros en una tabla.

- BEFORE DELETE Acciones a realizar antes de eliminar uno más o registros en una tabla.

- AFTER DELETE Acciones a realizar después de eliminar uno más o registros en una tabla.

# Algunas consultas de ejemplo

In [1]:
SHOW DATABASES;

In [2]:
USE sakila;

In [7]:
SHOW TABLES;

In [34]:
SELECT CONCAT(s.first_name, _utf8' ',  s.last_name) AS Actor 
FROM actor as s
order by s.last_name;

In [35]:
SELECT c.name as categoria, COUNT(actor_id) AS numero_actores
FROM category AS c
JOIN film_category as fc ON c.category_id = fc.category_id
JOIN film as f ON fc.film_id = f.film_id
JOIN film_actor as fa ON f.film_id = fa.film_id
GROUP BY categoria
ORDER BY numero_actores DESC;

In [36]:
SELECT  d.address as tienda,
        CONCAT(a.first_name, _utf8' ',  a.last_name) AS actor_estrella,
        MAX(p.amount) as valor
FROM actor AS a
JOIN film_actor AS fa ON a.actor_id = fa.actor_id
JOIN film AS f ON fa.film_id = f.film_id
JOIN inventory AS i ON f.film_id = i.film_id
JOIN rental AS r ON i.inventory_id = r.inventory_id
JOIN payment AS p ON r.rental_id = p.rental_id
JOIN store AS s ON i.store_id = s.store_id
JOIN address AS d ON s.address_id = d.address_id
GROUP BY tienda;

In [37]:
select  d.address as tienda,
        SUM(p.amount) as valor
from    address as d
join    store as s on s.address_id = d.address_id
join    inventory as i on i.store_id = s.store_id
join    rental as r on r.inventory_id = i.inventory_id
join    payment as p on p.rental_id = r.rental_id
group by tienda;